/* ********************************************************************************************************************************* */
/*Menu Bar*/
/* ********************************************************************************************************************************* */
#Menu{
    background-color: darksalmon;
    height: 100px;
    width: 100%;
    padding-top: 12px;
}

#Menu a{
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 100px;
    color: white;
    font-weight: 800;
   
   padding-left: 20px;
    padding-right: 20px;
}

#Menu a:hover{
    color:darkseagreen;
}

/********************************************************************************************************************************* */
    /*Content*/
/********************************************************************************************************************************* */

#Content{
    float: left;
    width: 70%;
}
#Sidebar{
    float: right;
    width: 25%;
}

/* ********************************************************************************************************************************* */
/*Side Bar*/
/* ********************************************************************************************************************************* */

#Sidebar{
    float:right;
    width:25%;
}

/* ************************************************************************************************************************************** */
  /*Gallery*/
/* ************************************************************************************************************************************** */



/* ************************************************************************************************************************************** */
/* Copyright*/
/* ************************************************************************************************************************************** */

#copyright {
    width: 100%;
    height: 130px;
    text-align: center;
    background-color:darkseagreen;
    padding-top: 55px;
    clear: both;
}
#copyright p{
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
}
